body{
    margin: 0;
    height: 100%;
}

#Top_Container {
    background-color: #E4F9F5;
    margin: 0;
    height: 8vh;
    position: relative;
}
.navbar{
    margin: 0;
    display: inline;
    position: absolute;
    list-style: none;
    right: 60px;
    top: 25px;
}
.navbar li {
    display: inline;
    margin-left: 10px;
}
.navbar li a {
    text-decoration: none;
    color: #40514E;
    padding: 6px 15px;
    font-family: 'Open Sans', sans-serif;
}
.navbar li a:hover{
    background-color: #40514E;
    color: #fff;
    border-radius: 10px;
}
#active{
    background-color: #40514E;
    color: #fff;
    border-radius: 10px;
}
.title{
    margin: 0;
    display: inline;
    position: absolute;
    top: 20px;
    left: 120px;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
}
#textarea{
    margin-top: 20px ;
    margin-left: 20px ;
    height: 40vh;
    width: 40vh;
    resize: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#color{
    width: 150px;
    height: 30px;
    margin-left: 10px;
}
#size{
    height: 30px;
    margin-left: 10px;
}
#font{
    height: 30px;
    margin-left: 10px;
}
#submit{
    margin-left: 10px;
    margin-top: 20px;
}
.description{
    margin: 0;
    margin-left: 10px;
    margin-top: 10px ;
    margin-bottom: 3px;
    color: darkgray;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}